
<div class="sidenav-container" [class.example-is-mobile]="mobileQuery.matches">

<app-header (navToggle)="mainNav.toggle()"></app-header>
<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #mainNav [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list>
    <app-sidebar></app-sidebar>
    </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <section class="main-container">
            <div class="row">
               <!-- <div class="col-md-2" style="min-height: 400px; border-right: 1px solid black">
                  <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" routerLinkActive="active"><a href="javascript:void(0);" routerLink='/customers' >Customers</a></li>
                    <li role="presentation" routerLinkActive="active"><a href="javascript:void(0);" routerLink='/orders'>Orders</a></li>
                  </ul>
                </div>-->
                <div class="col-md-10">
                  <router-outlet></router-outlet>
                </div>
              </div>
        </section>
    </mat-sidenav-content>
    </mat-sidenav-container>

</div>