<mat-accordion class="panel">
  <mat-expansion-panel  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Risk Grade
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="content">
      <mat-grid-list cols="2" rowHeight='4:1'>
        <mat-grid-tile>Previous Risk</mat-grid-tile>
        <mat-grid-tile>Hight</mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="First name">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-expansion-panel>
</mat-accordion>
