<div class="Grid Grid--gutters Grid--cols-2 u-textCenter">
    <div class="Grid-cell"><div class="Demo content-1of2">
      
    <business-case></business-case>
    
    </div>
  
  </div>
    <div class="Grid-cell">
      
      <div class="Demo content-1of2">
      
        2

        </div>
      
      </div>
  </div>
<!--<ul class="nav nav-tabs">
  <li role="presentation" routerLinkActive="active"><a href="javascript:void(0);"  [routerLink]="['/tables/customers/list']">Customers List</a></li>
  <li role="presentation" routerLinkActive="active"><a href="javascript:void(0);" [routerLink]="['/tables/customers/prospects']">Prospect Customers</a></li>
  <li role="presentation" routerLinkActive="active"><a href="javascript:void(0);" [routerLink]="['/tables/customers/inquiries']">Inquiries</a></li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>-->
